The Servers Component
<!--
instead of using the disabled property, we add
brackets around it, telling angular that we're using property binding,
and we want to dynamically add some property and disable the
button through angular. this is changing the native
<button
class="btn btn-primary"
disabled>
Add Server
</button> -->

<!-- here we are setting the disabled property to an expression,
that in this case will result to a boolean -->

<!-- here we also use (click) instead of onClick, it is angulars
built in click function, and by using parenthesis we are signifying that
we are binding to the click event -->
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">
  Add Server
</button>
<p>{{ serverCreationStatus }}</p>
<app-server></app-server>
<app-server></app-server>
<!-- <p [innerText]="allowNewServer"></p> -->
<!-- {{ allowNewServer }} -->
